doctype html
html(lang="en")
  head
    title Sample Card Site
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="styles.css", rel="stylesheet", type="text/css")
  header
    div(class="container")
      a(href="#")
          img(src="images/LOGO.png", alt="logo", class="logo")
      nav
        ul
          li
            a(href="#")
              img(src="images/Group%202.png", alt="home button", id="home")
          li
            a(href="#") Pay with Nova
          li
            a(href="#") Cards
          li
            a(href="#") About Us
          li
            a(href="#") Contact Us
          li
            a(href="#")
              img(src="images/SEARCH.png", alt="search icon", class="laL")
          li
            a(href="#")
              img(src="images/USER.png", alt="User icon", class="laR")
    div(class="infoLeft")
      div(class="check")
        img(src="images/SAFE%20ICON.png", alt="safe icon")
        h1 Go further with 
          span Nova.
        p We are a global payments technology company <br/>working to enable consumers, businesses and<br/> banks to use digital currency.
    div(class="click")
      div(class="leftBtn")
        a(href="#")
          img(src="images/BUTTON%20JOIN%20US.png", alt="botton")
      div(class="rightBtn")
        a(href="#")
          img(src="images/BUTTON%20READ%20MORE.png", alt="botton")
    div(class="infoRight")
      img(src="images/Group%201.png", alt="credit cards")
    div(class="socialIcons")
      a(href="#")
        img(src="images/FACEBOOK.png", alt="facebook icon")
      a(href="#")
        img(src="images/TWITTER.png", alt="twitter icon")
        
          
          