:root {
  --red: #f78080;
  --grn: #d3f9ae;
  --yellow: #fcfc83; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--grn); }

.nav a {
  text-decoration: none;
  list-style: none; }
